<div class='dialog__header'>
  <h2 mat-dialog-title> {{ data.title }}</h2>
  <app-button icon='close' [link]='true' mat-dialog-close/>
</div>
<mat-dialog-content class='dialog'>
  <ng-container *ngTemplateOutlet='data?.content || null'></ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <div class='dialog__footer'>
    <app-button *ngFor='let button of footer'
                (click)='button?.onClick(onCancel)'
                [color]='button.color'
                [label]='button.text || ""'
                [disabled]='button.disabled || false'
    />
  </div>
</mat-dialog-actions>
