.graph {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  &__canvas {
    left: 0;
    top: 0;
    position: relative;
    height: $interfaceHeight;
    width: 100%;
  }

  &__control {
    padding: $offset * 2;
    height: $footerSize;
  }
}


.graph-saved-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $offset;
}

.json-area {
  width: 95%;
  display: block;
  height: 50vh;
  margin: 0 auto;
}

.graph-node {
  width: 100%;
}


.graph-container {
  width: 100%;

  &__header {

  }
}
mat-grid-list.stretch-rows {
  height: 100%;
  flex-direction: column;
}

mat-grid-tile {
  width: 100%;
}
