<div class='input-container'>
  <mat-form-field>
    <div *ngIf='prefix' class='input-prefix' matPrefix>{{prefix}}</div>
    <mat-label>{{label}}</mat-label>
    <input matInput
           [type]='type'
           [name]='name'
           [placeholder]='placeholder'
           [(ngModel)]='inputValue'
           (input)='onInputChange()'
           (keyup)='checkLimit()'
           [min]='min'
           [max]='max'
    >
  </mat-form-field>
</div>
