<div class='input-container'>
  <label class='input-label'>{{ label }}</label>

  <mat-form-field class="example-full-width">
  <textarea
    matInput
    [class]='textareaClass'
    [name]='name'
    [placeholder]='placeholder'
    [(ngModel)]="inputValue"
    (input)="onInputChange()"
  ></textarea>
  </mat-form-field>
</div>
