.dialog {
  height: $interfaceHeight;
  overflow: scroll;

  &__section {
    width: 100%;
    height: 100%;
  }

  &__section-header {

  }

  &__section-body {
    height: 100%;
    overflow: auto;
  }

  &__header {
    padding: 0 $offset * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {

  }

  &__close-button {

  }

  &__content {
    height: $interfaceHeight;
    overflow: auto;
    padding: $offset * 2;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    & button {
      margin: 0 $offset;
    }
  }
}
