@use 'const';

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin: -($grid-gutter / 2);
}

@mixin column($columns) {
  flex-basis: 0;
  flex-grow: 1;
  max-width: ((100% / $grid-columns) * $columns);
  margin: ($grid-gutter / 2);
}

@mixin generate-columns() {
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      @include column($i);
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  @include row;
}

@include generate-columns();
