.input-container {
  display: flex;
  flex-direction: column;
}

.input-prefix {
  padding: $offset;
  font-weight: bold;
}

.input-label {
  margin-bottom: 5px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.mat-mdc-slider {
  width: 100%!important;
}
