.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;

  &__title {
    font-weight: bold;
    border-radius: $offset $offset 0 0;
    width: 100%;
    padding: $offset;
    text-align: center;
  }

  &__body {
    text-align: center;
    padding: $offset;
    border-radius: 0 0 $offset $offset;
    width: 100%;
    max-height: 90px;
  }
}
