


// Пример миксина для создания цветового стиля кнопки
@mixin button-colors($background, $border, $color) {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover, &:focus {
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);
    color: $color;
  }
}

// Миксин для создания цветового стиля ссылки
@mixin link-colors($color) {
  color: $color;

  &:hover, &:focus {
    color: darken($color, 10%);
  }
}

// Миксин для создания цветового стиля текста
@mixin text-colors($color) {
  color: $color;
}

// Миксин для создания цветового стиля фона
@mixin background-colors($color) {
  background-color: $color;
}
