<ng-container *ngIf='link'>
  <button
    *ngIf='icon && label'
    class='button'
    (click)='onClick()'
    [disabled]='disabled'
    [color]='color'
    mat-button
  >
    <div class='text-overflow'>{{ label }}</div>
    <mat-icon>{{ icon }}</mat-icon>
  </button>

  <button
    *ngIf='icon && !label'
    (click)='onClick()'
    [disabled]='disabled'
    [color]='color'
    mat-icon-button
  >
    <mat-icon>{{ icon }}</mat-icon>
  </button>

  <button
    *ngIf='!icon && label'
    (click)='onClick()'
    [color]='color'
    [disabled]='disabled'
    mat-fab
  >
    <div class='text-overflow'>{{ label }}</div>
  </button>
</ng-container>
<ng-container *ngIf='!link'>
<button
  *ngIf='icon && label'
  class='button'
  (click)='onClick()'
  [disabled]='disabled'
  [color]='color'
  mat-raised-button
>
  <div class='text-overflow'>{{ label }}</div>
  <mat-icon>{{ icon }}</mat-icon>
</button>


<button
  *ngIf='!icon && label'
  class='button'
  (click)='onClick()'
  [disabled]='disabled'
  [color]='color'
  mat-raised-button
>
  <div class='text-overflow'>{{ label }}</div>
</button>

<button
  *ngIf='icon && !label'
  (click)='onClick()'
  [disabled]='disabled'
  [color]='!link && color'
  mat-fab
>
  <mat-icon>{{ icon }}</mat-icon>
</button>
</ng-container>


