<mat-drawer-container class='sidebar' autosize>

  <div class='graph'>
    <app-canvas class='graph__canvas'
                (mousemove)='mousemove($event)'
                (mousedown)='mousedown($event)'
                (mouseup)='mouseup($event)'
                (dblclick)='dblclick($event)'
    />
    <app-graph-control (toggleMenu)='drawer.toggle()'/>
  </div>

  <mat-drawer #drawer mode='side' position='end' class='sidebar__drawer'>
    <app-graph-node-list />
  </mat-drawer>
</mat-drawer-container>
