.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

canvas {
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $opacity-dark-color;

  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

body {
  overflow: hidden;
}

.opacity-9 {
  opacity: 0.9;
}

.section {
  height: 100%;
  overflow: auto;
}

.sidebar {
  height: 100vh;

  &__drawer {
    width: 20vw;
  }
}

.sub-title {
  padding: $offset;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.text-overflow,
.mat-mdc-button-persistent-ripple,
.mdc-button__label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table {
  width: 100%;
}

td
{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
