$text-color: #343a40;
$primary-color: #AAD29D;
$secondary-color: #9A7085;
$success-color: #49DCB1;
$danger-color: #ef767a;
$warning-color: #EEB868;
$info-color: #456990;
$light-color: #f8f9fa;
$dark-color: #343a40;
$opacity-dark-color: rgba(0, 0, 0, 0.39);
$disabled-color: #ccc;
$disabled-text-color: #eeeeee;

$grid-columns: 12;
$grid-gutter: 30px;

$offset: 8px;

$transition: 0.2s;

$interfaceHeight: 80vh;
$interfaceWidth: 80vw;
$footerSize: 20vh;
