<mat-card class='graph__control'>
  <mat-card-content>
      <div class='container container_full-width'>
        <div class='row'>
          <div class='col-4'>
            <app-input
              type='number'
              label='nodes'
              placeholder='nodes count'
              [value]='nodesCount'
              [min]='0'
              [max]='nodesLimit'
              (onChange)='changeNodes($event)'
            />
          </div>
          <div class='col-4'>
            <app-input
              type='number'
              label='connections'
              placeholder='connections count'
              name='connections'
              [value]='edgesCount'
              [min]='0'
              [max]='edgesLimit'
              (onChange)='changeEdges($event)'
            />
          </div>
          <div class='col-4'>
            <mat-card>
              <mat-card-content>
                <h2>Radius</h2>
                <mat-slider
                  discrete
                  class='range range_fullwidth'
                  [min]='0'
                  [max]='radiusLimit'
                  [step]='1'
                  (input)='changeRadius()'
                >
                  <input matSliderThumb [(ngModel)]="radius">
                </mat-slider>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class='row'>
          <div class='col-4'>
            <div class='row row-between'>
              <div class='col-6'>
                <app-button (click)='searchWay()'
                            [label]='noWay ? "No ways" : "search short way"'
                            [color]='noWay ? "warn" : "primary"'
                />
              </div>
              <div class='col-6'>
                <app-button (click)='delete()' label='clear' color='warn'/>
              </div>
            </div>
          </div>
          <div class='col-4'>
            <div class='row row-between'>
              <div class='col-3'>
                <app-button (click)='openImportDialog()' label='import' color='primary'/>
              </div>
              <div class='col-3'>
                <app-button (click)='openSettingsDialog()' label='settings' color='accent'/>
              </div>
              <div class='col-3'>
                <app-button (click)='toggleEditMenu()' label='edit' color='accent'/>
              </div>
            </div>
          </div>
          <div class='col-4'>
            <div class='row row-between'>
              <div class='col-12'>
                <app-button (click)='generate()' label='generate'/>
              </div>
            </div>
          </div>
        </div>
      </div>
  </mat-card-content>
</mat-card>
<ng-template #exportDialog>
<!--  <ngx-json-viewer [json]='getNodesWithoutLinks()'/>-->
  <app-graph-settings />
</ng-template>


<ng-template #importDialog>
  <app-textarea
    placeholder='json'
    name='json'
    textareaClass='json-area'
    [value]='jsonImport'
    (onChange)='jsonImport = $event.toString()'
  />
</ng-template>


<ng-template #saveDialog>
  <app-graph-settings />
</ng-template>


