<h2 class='sub-title'>Node list</h2>
<mat-grid-list *ngFor='let node of nodes;trackBy: trackBy'  cols='3' rowHeight="100px">
  <mat-grid-tile>
    <app-input label='x'
               class='col-12'
               [prefix]='node.id'
               [value]='node.position.x'
               (onChange)='changeAxis(node, $event, "x")'
               [min]='0'
               [type]='"number"'
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input label='y'
               class='col-12'
               [value]='node.position.y'
               (onChange)='changeAxis(node, $event, "y")'
               [min]='0'
               [type]='"number"'
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <app-button (click)='deleteNode(node)'
                icon='delete'
                [link]='true'
                color='warn'
    />
  </mat-grid-tile>
</mat-grid-list>
