<mat-grid-list cols='2' rowHeight='100%'>
  <mat-grid-tile>
    <div class='dialog__section'>
      <div class='dialog__section-header'>Save</div>
      <div class='dialog__section-body'>
        <app-input label='name' (onChange)='saveName($event.toString())'/>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class='dialog__section'>
      <div class='dialog__section-header'>Load</div>
      <div class='dialog__section-body'>
        <table class='table' mat-table [dataSource]='savedList'>
          <ng-container matColumnDef='name'>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef='let item'>
              <app-button [title]='item.key'
                          label='{{item.key}}'
                          (click)='load(item)'
                          color='warn'
              />
            </td>
          </ng-container>
          <ng-container matColumnDef='count'>
            <th mat-header-cell *matHeaderCellDef> Nodes count </th>
            <td mat-cell *matCellDef='let item'> {{item.nodes.length}} </td>
          </ng-container>
          <ng-container matColumnDef='delete'>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef='let item'>
              <app-button icon='delete'
                        [link]='true'
                        (click)='deleteRecord(savedList, item)'
              />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
